// Cores da empresa

$age-orange: #FFB600;
$age-blue: #0F297D;


// Itens globais

$global-background-color: linear-gradient(to right, #edf3fd, #E8F3FE);
$global-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;